extends ../layout
block content
  h1(title='Мужская одежда: кто сказал, что нет мужской моды?') Мужская одежда: кто сказал, что нет мужской моды?
  p
    | Каждый мужчина сталкивался с проблемой подбора костюма. Как правило, данные изделия производят, основываясь на определенных стандартах и размерных таблицах, которым соответствуют далеко не все представители мужского пола. Эта проблема особенно актуальна, когда предстоит важное событие и нужно выглядеть на все сто. Единственным выходом из сложившейся ситуации является
    strong индивидуальный пошив мужских костюмов
    | . Оdejda-ua знает толк в мужской одежде и с радостью поможет Вам.
  h2(title='Мужская одежда оптом от лучшего поставщика в Харькове') Мужская одежда оптом от лучшего поставщика в Харькове
  p
    | Мы также осуществляем массовый пошив одежды под заказ. Если Вам требуется надежный поставщик, мы рады долгосрочному и плодотворному сотрудничеству.
  h2(title='Мужская одежда: для кого будет актуален массовый пошив одежды?') Мужская одежда: для кого будет актуален массовый пошив одежды?
  p
    | Для магазинов, желающих расширить ассортимент. Хотите сделать ассортимент оригинальным? Мы осуществляем пошив по Вашим лекалам и предлагаем услуги по их разработке. Возможен
    em пошив мужских костюмов
    |  и любых других изделий.
  h2(title='Мужская одежда больших размеров') Мужская одежда больших размеров
  p
    | Сложно найти одежду подходящего размера? Закажите у нас индивидуальный пошив. Мы пошьем для Вас изделия, которые будут идеально подходить Вам по всем параметрам.
