.footer
  p
    | Всем доброго времени суток, мы запускаем наше Ателье в городе Харькове, где вы сможете заказать индвидуальный &nbsp;
    strong пошив одежды
    | &nbsp;любой сложности.
  p Будем рады вас видеть. Odejda-ua