.footer
  nav.sosials
    a(href="https://www.facebook.com/TailorStudio-335610423458062/").sosial__item
      img(src="/img/icons/fb.svg")
    a(href="#", style="display:none").sosial__item
      img(src="/img/icons/in.svg")
    a(href="https://vk.com/tailorstudio").sosial__item
      img(src="/img/icons/vk.svg")
    a(href="#", style="display:none").sosial__item
      img(src="/img/icons/tw.svg")
    a(href="#", style="display:none").sosial__item
      img(src="/img/icons/ok.svg")
  p.text-center
    | Всем доброго времени суток, мы запускаем наше Ателье в городе Харькове, где вы сможете заказать индвидуальный &nbsp;
    strong пошив одежды
    | &nbsp;любой сложности.
  p.text-center Будем рады вас видеть. Odejda-ua