nav.nav
  //a.nav__item(href="") Наши работы
  a.nav__item(href="/poshiv-mujskoi-odejdy/kostumi") Пошив мужских костюмов
  a.nav__item(href="/poshiv-mujskoi-odejdy/pidjak") Пошив пиджака

  a.nav__item(href="/poshiv-odejdy/optom") Пошив Оптом
  a.nav__item(href="/poshiv-odejdy/textil") Пошив текстиля
  a.nav__item(href="/poshiv-vechernix-platev") Пошив вечерних платьев
  a.nav__item(href="/poshiv-svadebnyx-platev") Пошив свадебных платьев
  a.nav__item(href="/plate-podruzhki-nevesty") Платье подружки невесты
  a.nav__item(href="/poshiv-platev") Пошив платьев
  a.nav__item(href="/malenkoe-chernoe-plate") Маленькое черное платье
  a.nav__item(href="/platya-korotkie") Платья короткие
  a.nav__item(href="/yubka-karandash") Юбка карандаш
  a.nav__item(href="/poshiv-mexa") Пошив меха
  a.nav__item(href="/remont-mexa") Ремонт меха
  a.nav__item(href="/poshiv-kozhi") Пошив кожи
  a.nav__item(href="/remont-kozhi") Ремонт кожи
  a.nav__item(href="/poshiv-kupalnikov") Пошив купальников
  a.nav__item(href="/moda-dlya-beremennyx") Мода для беременных
  a.nav__item(href="/poshiv-detskoj-odezhdy") Пошив детской одежды
  a.nav__item(href="/kostyumy-na-xellouin") Костюмы на Хэллоуин
  a.nav__item(href="/tematicheskie-kostyumy") Тематические костюмы
header
  nav
    a.nav__item(href="/poshiv-odejdy", title="Пошив одежды") Пошив одежды
    a.nav__item(href="/poshiv-jenskoi-odejdy", title="Пошив женской одежды") Женская одежда
    a.nav__item(href="/poshiv-mujskoi-odejdy", title="Пошив мужской одежды") Мужская одежда
    a.nav__item(href="/poshiv-korporativnoi-odejdy", title="Корпоративная одежда") Корпоративная одежда
    a.nav__item(href="/poshiv-spezodejdy", title="Пошив спецодежды") Пошив спецодежды
    a.nav__item(href="/remont-odejdy", title="Ремонт одежды") Ремонт
    a.nav__item(href="/about", title="О нас") О нас
    a.nav__item(href="/contacts", title="Как нас найти") Контакты

