header
  section.header__section
    a.logo(href='/') Odejda-UA
    .header__top-info.show-tablet
      |Оптовая продажа трикотажных изделий
      br
      |от производителя в Харькове
    .header__contacts.show-tablet
      .header__city
        strong Харьков
      .header__telephones
        span +38 050 574-27-71

  nav#top-nav.top-nav
    a.top-nav__item(href="/poshiv-odejdy", title="Пошив одежды") Пошив одежды
    a.top-nav__item(href="/poshiv-jenskoi-odejdy", title="Пошив женской одежды") Женская одежда
    a.top-nav__item(href="/poshiv-mujskoi-odejdy", title="Пошив мужской одежды") Мужская одежда
    a.top-nav__item(href="/remont-odejdy", title="Ремонт одежды") Ремонт одежды
    a.top-nav__item(href="/about", title="О нас") О нас
    a.top-nav__item(href="/contacts", title="Как нас найти") Контакты

  button#navbar-toggle.nav-toggle.hide-tablet
    span.icon-bar
    span.icon-bar
    span.icon-bar