extends layout

block content
  .container
    h1(title='Пошив одежды в Ателье Оdejda-ua Харьков') Пошив одежды в Ателье Оdejda-ua
    p
      | Наш&nbsp;
      strong(title='швейный цех в Харькове') швейный цех
      |&nbsp;предлагает стильную и модную одежду по индивидуальным заказам. Мы быстро и недорого выполним ваш заказ к намеченному событию. Пошить одежду можно по образцу из наших тканей или по материалам, которые у вас есть. В продаже яркие и пастельные синтетические и натуральные ткани от лучших отечественных и зарубежных поставщиков.
    p
      | Дизайнеры снимут точные мерки и нарисуют уникальный эскиз вашего платья, свитера или купальника, которые идеально сядут по фигуре.&nbsp;
    b Для женщин мы шьем:
    ul
      li вечерние и свадебные платья;
      li туники, блузки, юбки;
      li трикотажные костюмы;
      li меховые изделия, куртки, пальта.
    b Для мужчин:
    ul
      li пиджаки, рубашки, галстуки;
      li брюки, нижнее белье;
      li верхнюю одежду.
    p
      | Наше&nbsp;
      strong(title='швейное ателье') швейное ателье
      |&nbsp;не обходит вниманием даже малышей. Для ваших непосед мы предлагаем эксклюзивные и стильные детские костюмы на любой праздник: Новый год, Рождество, 8 марта, Хеллоуин, праздник осени или весны. Для детворы доступна услуга
      b пошив на заказ
      | &nbsp; верхней одежды. Ваши маленькие модники всегда будут одеты со вкусом и по погоде в любое время года.
    p
      strong(title='Ателье Оdejda-ua') Ателье Оdejda-ua
      |&nbsp;справится при пошиве заказанной одежды с тканью любой сложности: шелком, атласом, шифоном, бархатом, хлопком, тафтой, вискозой или стрейчем. Ваша блузка или рубашка будет элегантно смотреться утром и вечером. Роскошная фурнитура от известных производителей дополнит наряд и сделает акцент на главный деталях одежды.
    h2(title='Стоимость пошива') Стоимость пошива
    p
      | Цена на изделие зависит от сложности модели и используемых материалов. Уже за 15 минут дизайнер посчитает стоимость вашего заказа с учетом материалов и работы.
    p
      | У нас вы можете заказать даже &nbsp;
      b трикотажные платья
      | &nbsp; и другую одежду поштучно или серийным пошивом. Например, для случаев, когда хочется подобрать одинаковую одежду для корпоратива, девичника или свадьбы.
    p
      strong(title='Пошив корпоративной одежды') Пошив корпоративной одежды
      |&nbsp;, даже&nbsp;
      strong(title='одежды больших размеров') одежды больших размеров
      |&nbsp;, выполняется быстро с учетом ваших идей и пожеланий. Вы можете принести любой эскиз на бумаге или рассказать о своей идее на словах. Наши дизайнеры помогут воплотить задуманное в жизнь и подобрать наиболее эффектные ткани.
    p
      | На серийный пошив одежды мы предлагаем большие скидки. Для оптовиков в широком ассортименте представлена мужская и&nbsp;
      strong(title='женская одежда оптом') женская одежда оптом
      |&nbsp;с возможностью самовывоза или отправкой любым удобным способом по почте. С Ателье Оdejda-ua выгодно и экономно!
    h2(title='Пошив спецодежды') Пошив спецодежды
    p
      |Наше &nbsp;
      strong(title='швейное производство') швейное производство
      | &nbsp; предлагает практичные варианты спецодежды для любой профессии. У нас вы можете заказать перчатки, головные уборы, фартуки, защитные костюмы и другую одежду для работы.
    p
      | Цена заказа обсуждается с каждым клиентом индивидуально. С Ателье Оdejda-ua ваш персонал будет одет с ног до головы. Мы пошьем для вас одежду даже в универсальных размерах с лейблами вашей компании или именными нашивками.
    h3(title='Одежда для беременных') Одежда для беременных
    p
      | Выглядеть шикарно и стильно можно даже в самый деликатный период жизни. Одежда для беременных в Оdejda-ua — одежда, которая соответствует актуальным трендам. Каждая мама будет чувствовать себя в ней уютно, модно и комфортно.
    h4 Для будущих мам мы шьем для любой погоды:
    ul
      li
        | комбинезоны, бандажи, платья;
      li
        | куртки, кардиганы и пальта;
      li
        | удобные штаны и шорты.
    p
      | Для пошива одежды беременным женщинам используются натуральные «дышащие» ткани, которые обладают высокой плотностью и эластичностью. Беременность — роскошный повод оставаться красивой. Оdejda-ua поможет это сделать.
    h3(title='Одежда больших размеров') Одежда больших размеров
    p
      | Не можете подобрать одежду по своему размеру или&nbsp;
      strong(title='поставщики одежды') поставщики одежды
      |&nbsp;не предлагают желаемый фасон? Заходите в Оdejda-ua.
    p
      | Мы пошьем любую модель, которую вы захотите из той ткани, какая нравится. В вашем гардеробе наконец-то появится любимая одежда.
    h3(title='Ремонт одежды') Ремонт одежды
    p
      b Ателье Оdejda-ua
      | &nbsp; — ваш помощник даже в случаях, когда вы порвали платье, пиджак, куртку, джинсы или сделали зацепку на своем любимом свитере. Приносите порванную или поврежденную вещь к нам и получите ее в прежнем виде. Наш мастер поможет исправить то, что не могут исправить другие швеи.
    p
      | Ремонт одежды возможен даже в срочном порядке. Если вам надо «на завтра» — приходите к нам. Мы легко пришиваем плечевые накладки, пробиваем прямую петлю, пришиваем пуговицы, нашиваем заплатки, проводим отделку изделия декоративной фурнитурой.
    p
      | Наши мастера скроют даже самый заметный дефект на одежде, превратив его в модный хит сезона. Если не верите, приносите порванную тунику к нам и убедитесь сами.
    p
      | Ателье Оdejda-ua в Харькове — ваше личное&nbsp;
      strong(title='ателье по пошиву верхней одежды') ателье по пошиву верхней одежды
      |&nbsp; , красивых и модных платьев, толстовок, маек, туник, деловых костюмов, одежды для беременных и детей. Мы оденем всю вашу семью уже сегодня.
    p
      | Звоните и приходите к нам за квалифицированной помощью по пошиву одежды любого покроя и ткани!

