extends layout

block content
  .text-container
    h1(title='Пошив одежды в Ателье Оdejda-ua Харьков') Пошив одежды в Ателье Оdejda-ua
    p
      | Наш&nbsp;
      strong(title='швейный цех в Харькове') швейный цех
      | &nbsp;предлагает стильную и модную одежду по индивидуальным заказам. Мы быстро и недорого выполним ваш заказ к намеченному событию. Пошить одежду можно по образцу из наших тканей или по материалам, которые у вас есть. В продаже яркие и пастельные синтетические и натуральные ткани от лучших отечественных и зарубежных поставщиков.
    p
      | Дизайнеры снимут точные мерки и нарисуют уникальный эскиз вашего платья, свитера или купальника, которые идеально сядут по фигуре.&nbsp;
    b Для женщин мы шьем:
    ul
      li вечерние и свадебные платья;
      li туники, блузки, юбки;
      li трикотажные костюмы;
      li меховые изделия, куртки, пальта.
    b Для мужчин:
    ul
      li пиджаки, рубашки, галстуки;
      li брюки, нижнее белье;
      li верхнюю одежду.
    p
      | Наше&nbsp;
      strong(title='швейное ателье') швейное ателье
      | &nbsp;не обходит вниманием даже малышей. Для ваших непосед мы предлагаем эксклюзивные и стильные детские костюмы на любой праздник: Новый год, Рождество, 8 марта, Хеллоуин, праздник осени или весны. Для детворы доступна услуга
      b пошив на заказ
      | &nbsp; верхней одежды. Ваши маленькие модники всегда будут одеты со вкусом и по погоде в любое время года.
    p
      strong(title='Ателье Оdejda-ua') Ателье Оdejda-ua
      | &nbsp;справится при пошиве заказанной одежды с тканью любой сложности: шелком, атласом, шифоном, бархатом, хлопком, тафтой, вискозой или стрейчем. Ваша блузка или рубашка будет элегантно смотреться утром и вечером. Роскошная фурнитура от известных производителей дополнит наряд и сделает акцент на главный деталях одежды.
    h2(title='Стоимость пошива') Стоимость пошива
    p
      | Цена на изделие зависит от сложности модели и используемых материалов. Уже за 15 минут дизайнер посчитает стоимость вашего заказа с учетом материалов и работы.
    p
      | У нас вы можете заказать даже &nbsp;
      b трикотажные платья
      | &nbsp; и другую одежду поштучно или серийным пошивом. Например, для случаев, когда хочется подобрать одинаковую одежду для корпоратива, девичника или свадьбы.
    p
      strong(title='Пошив корпоративной одежды') Пошив корпоративной одежды
      | &nbsp;, даже&nbsp;
      strong(title='одежды больших размеров') одежды больших размеров
      | &nbsp;, выполняется быстро с учетом ваших идей и пожеланий. Вы можете принести любой эскиз на бумаге или рассказать о своей идее на словах. Наши дизайнеры помогут воплотить задуманное в жизнь и подобрать наиболее эффектные ткани.
    p
      | На серийный пошив одежды мы предлагаем большие скидки. Для оптовиков в широком ассортименте представлена мужская и&nbsp;
      strong(title='женская одежда оптом') женская одежда оптом
      | &nbsp;с возможностью самовывоза или отправкой любым удобным способом по почте. С Ателье Оdejda-ua выгодно и экономно!
    h2(title='Пошив спецодежды') Пошив спецодежды
    img.pull-left(src="/img/poshiv-odejdu.jpg", alt="Пошив одежды Харьков")
    p
      | Наше &nbsp;
      strong(title='швейное производство') швейное производство
      | &nbsp; предлагает практичные варианты спецодежды для любой профессии. У нас вы можете заказать перчатки, головные уборы, фартуки, защитные костюмы и другую одежду для работы.
    p
      | Цена заказа обсуждается с каждым клиентом индивидуально. С Ателье Оdejda-ua ваш персонал будет одет с ног до головы. Мы пошьем для вас одежду даже в универсальных размерах с лейблами вашей компании или именными нашивками.
    h3(title='Одежда для беременных') Одежда для беременных
    p
      | Выглядеть шикарно и стильно можно даже в самый деликатный период жизни. Одежда для беременных в Оdejda-ua — одежда, которая соответствует актуальным трендам. Каждая мама будет чувствовать себя в ней уютно, модно и комфортно.
    h4 Для будущих мам мы шьем для любой погоды:
    ul
      li
        | комбинезоны, бандажи, платья;
      li
        | куртки, кардиганы и пальта;
      li
        | удобные штаны и шорты.
    p
      | Для пошива одежды беременным женщинам используются натуральные «дышащие» ткани, которые обладают высокой плотностью и эластичностью. Беременность — роскошный повод оставаться красивой. Оdejda-ua поможет это сделать.
    h3(title='Одежда больших размеров') Одежда больших размеров
    p
      | Не можете подобрать одежду по своему размеру или&nbsp;
      strong(title='поставщики одежды') поставщики одежды
      | &nbsp;не предлагают желаемый фасон? Заходите в Оdejda-ua.
    p
      | Мы пошьем любую модель, которую вы захотите из той ткани, какая нравится. В вашем гардеробе наконец-то появится любимая одежда.
    h3(title='Ремонт одежды') Ремонт одежды
    p
      b Ателье Оdejda-ua
      | &nbsp; — ваш помощник даже в случаях, когда вы порвали платье, пиджак, куртку, джинсы или сделали зацепку на своем любимом свитере. Приносите порванную или поврежденную вещь к нам и получите ее в прежнем виде. Наш мастер поможет исправить то, что не могут исправить другие швеи.
    p
      | Ремонт одежды возможен даже в срочном порядке. Если вам надо «на завтра» — приходите к нам. Мы легко пришиваем плечевые накладки, пробиваем прямую петлю, пришиваем пуговицы, нашиваем заплатки, проводим отделку изделия декоративной фурнитурой.
    p
      | Наши мастера скроют даже самый заметный дефект на одежде, превратив его в модный хит сезона. Если не верите, приносите порванную тунику к нам и убедитесь сами.
    p
      | Ателье Оdejda-ua в Харькове — ваше личное&nbsp;
      strong(title='ателье по пошиву верхней одежды') ателье по пошиву верхней одежды
      | &nbsp; , красивых и модных платьев, толстовок, маек, туник, деловых костюмов, одежды для беременных и детей. Мы оденем всю вашу семью уже сегодня.
    p
      | Звоните и приходите к нам за квалифицированной помощью по пошиву одежды любого покроя и ткани!
  div
    #slider.slider
      .slider__wrp
        .slider__item.slider__item--blue
          a.slider__link(href='/poshiv-jenskoi-odejdy')
            | пошив женской одежды
            span.slider__button подробнее
        .slider__item.slider__item--grey
          a.slider__link(href='/poshiv-mujskoi-odejdy')
            | пошив мужской одежды
            span.slider__button подробнее
        .slider__item.slider__item--green
          a.slider__link(href='poshiv-odejdy/optom')
            | оптовый пошив одежды
            span.slider__button подробнее
        .slider__item.slider__item--purple
          a.slider__link(href='/remont-odejdy')
            | ремонт одежды
            span.slider__button подробнее
      button#prev.slider__prev
        svg(width='24px', height='45px', viewbox='0 0 32 60', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
          title предыдущий слайд
          defs
          g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            g#arrow(transform='translate(16.000000, 30.000000) rotate(180.000000) translate(-16.000000, -30.000000) ', fill='#FFFFFF')
              polygon#Shape(points='1.561 59.414 0.146 58 28.439 29.707 0.146 1.414 1.561 0 31.268 29.707')

      button#next.slider__next
        svg(width='24px', height='45px', viewbox='0 0 32 60', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
          title следующий слайд
          defs
          g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            g#arrow(fill='#FFFFFF')
              polygon#Shape(points='1.561 59.414 0.146 58 28.439 29.707 0.146 1.414 1.561 0 31.268 29.707')

      nav.slider__pagination
        a.slider__pagination__item.is-active(href="#", data-idx="0")
          .slider__pagination__number 1
          .slider__pagination__line
        a.slider__pagination__item(href="#", data-idx="1")
          .slider__pagination__number 2
          .slider__pagination__line
        a.slider__pagination__item(href="#", data-idx="2")
          .slider__pagination__number 3
          .slider__pagination__line
        a.slider__pagination__item(href="#", data-idx="3")
          .slider__pagination__number 4
          .slider__pagination__line

  .custom-row
    .box
      .box__wrp
        h3.box__title мужские костюмы
        p.box__description Главное, чтобы костюмчик сидел
        a.box__link(href="#") Подробнее
        picture.box__picture
          source(srcset="/img/poshiv-muzskoi-odejdu-mobile.jpg", media="(max-width: 767px)")
          source(srcset="/img/poshiv-muzskoi-odejdu-desktop.jpg", media="(min-width: 768px)")
          img.box__img(src="poshiv-muzskoi-odejdu-mobile.jpg", alt="Картинка: Пошив мужских костюмов")
    .box
      .box__wrp
        h3.box__title ЖЕНСКИЕ ПЛАТЬЯ
        p.box__description Ничто так не красит женщину, как хорошее платье
        a.box__link(href="#") Подробнее
        picture.box__picture
          source(srcset="/img/poshiv-zenskoi-odejdu-mobile.jpg", media="(max-width: 767px)")
          source(srcset="/img/poshiv-zenskoi-odejdu-desktop.jpg", media="(min-width: 768px)")
          img.box__img(src="poshiv-zenskoi-odejdu-mobile.jpg", alt="Картинка: Пошив женской одежды")
    .box
      .box__wrp
        h3.box__title ПОШИВ ШКОЛЬНОЙ ФОРМЫ
        p.box__description Первый раз в первый класс
        a.box__link(href="#") Подробнее
        picture.box__picture
          source(srcset="/img/poshiv-shkolnoi-formu-mobile.jpg", media="(max-width: 767px)")
          source(srcset="/img/poshiv-shkolnoi-formu-desktop.jpg", media="(min-width: 768px)")
          img.box__img(src="poshiv-shkolnoi-formu-mobile.jpg", alt="Картинка: Пошив школьной формы")
    .box
      .box__wrp
        h3.box__title ШТОПКА ОДЕЖДЫ
        p.box__description Заштопаем всё, что угодно!
        a.box__link(href="#") Подробнее
        picture.box__picture
          source(srcset="/img/remont-odejdu-mobile.jpg", media="(max-width: 767px)")
          source(srcset="/img/remont-odejdu-desktop.jpg", media="(min-width: 768px)")
          img.box__img(src="remont-odejdu-mobile.jpg", alt="Картинка: Ремонт одежды")

  .container
    section.f
      p.f__title С ЛЮБОВЬЮ К КЛИЕНТАМ
      p.f__description И любовью от клиентов
      .feedback
        .feedback__item
          img.feedback__ava(src="/img/otziv-ot-andreja.jpg", alt="Картинка: Фото Андрея")
          .feedback__text Прекрасное качество материалов. Заказал себе пиджак на официальное мероприятие незадолго до самого мероприятия. Ребята не подвели, сделали все на удивление быстро и очень качественно.
          .feedback__footer Андрей, заказал пиджак
    section.b
      .b__item
        p.b__title МНОГОЛЕТНИЙ ОПЫТ
        p.b__description Работаем в сфере пошива одежды более 10 лет
        img.b__img(src="/img/bolshoi-oput.jpg", alt="Картинка: Ателье, более 10 лет опыта", title="Более 10 лет опыта")
      .b__item
        p.b__title НИЗКИЕ ЦЕНЫ
        p.b__description При этом не в ущерб качеству. В чем советуем убедиться
        img.b__img(src="/img/nizkie-zenu.jpg", alt="Картинка: Ателье низких цен", title="В нашей студии самые низкие цены")
      .b__item
        p.b__title ЦЕНИМ ВРЕМЯ
        p.b__description Выполняем работу в сроки, даже если сроки крайне сжатые
        img.b__img(src="/img/bustrui-poshiv.jpg", alt="Картинка: Ателье, ценит ваше время", title="Ценим время клиента")


