nav.side-nav
  //a.nav__item(href="") Наши работы
  a.side-nav__item(href="/poshiv-korporativnoi-odejdy", title="Корпоративная одежда") Корпоративная одежда
  a.side-nav__item(href="/poshiv-spezodejdy", title="Пошив спецодежды") Пошив спецодежды
  a.side-nav__item(href="/poshiv-mujskoi-odejdy/kostumi") Пошив мужских костюмов
  a.side-nav__item(href="/poshiv-mujskoi-odejdy/pidjak") Пошив пиджака
  a.side-nav__item(href="/poshiv-odejdy/optom") Пошив Оптом
  a.side-nav__item(href="/poshiv-odejdy/textil") Пошив текстиля
  a.side-nav__item(href="/poshiv-vechernix-platev") Пошив вечерних платьев
  a.side-nav__item(href="/poshiv-svadebnyx-platev") Пошив свадебных платьев
  a.side-nav__item(href="/plate-podruzhki-nevesty") Платье подружки невесты
  a.side-nav__item(href="/poshiv-platev") Пошив платьев
  a.side-nav__item(href="/malenkoe-chernoe-plate") Маленькое черное платье
  a.side-nav__item(href="/platya-korotkie") Платья короткие
  a.side-nav__item(href="/yubka-karandash") Юбка карандаш
  a.side-nav__item(href="/poshiv-mexa") Пошив меха
  a.side-nav__item(href="/poshiv-kozhi") Пошив кожи
  a.side-nav__item(href="/remont-mexa") Ремонт меха
  a.side-nav__item(href="/remont-kozhi") Ремонт кожи
  a.side-nav__item(href="/poshiv-kupalnikov") Пошив купальников
  a.side-nav__item(href="/moda-dlya-beremennyx") Мода для беременных
  a.side-nav__item(href="/poshiv-detskoj-odezhdy") Пошив детской одежды
  a.side-nav__item(href="/kostyumy-na-xellouin") Костюмы на Хэллоуин
  a.side-nav__item(href="/tematicheskie-kostyumy") Тематические костюмы

