html, body, .lp  {
  -webkit-overflow-scrolling: touch;
}

html {
  min-height: 100%;
  height: 100%;
}

body {
  height: 100%;
}

.show-tablet,
.show-desktop {
  display: none;
}

.body {
  padding: 0 15px;
}

.sosials {
  text-align: center;
  margin: 0 0 20px;
}

.sosial__item {
  width: 32px;
  display: inline-block;
  margin: 0 10px;
}