body, h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  color: #222;
  font: 14px/20px 'PT Sans';
}

h1 {
  font-size: 1.5em;
  margin: 0.67em 0;
  line-height: 1;
}

h2 {
  font-size: 24px;
  line-height: 24px;
}

h3 {
  font-size: 20px;
  line-height: 20px;
}

:focus {
  outline: none;
}

a {
  color: $link-color;
  &:hover, &:focus {
    color: $link-hover-color;
  }
}

ul {
  padding: 0;
  margin: 0;
}

p {
  margin: 0 0 15px;
}