.show-desktop {
  display: block;
}

.hide-desktop {
  display: none;
}

.header__top-info {
  font-size: 16px;
}

.top-nav__item:hover {
  background: #f2f2f2;
}

.side-nav__item:hover {
  text-decoration: none;
}