a {
  &:hover, &:focus {
    color: $link-hover-color;
    text-decoration: none;
  }
}

h1 {
  font-size: 30px;
  margin: 30px 0;
}

.bg__text {
  font-size: 30px;
}

.btn {
  &:hover,
  &:focus,
  &.focus {
    color: $btn-default-color;
    text-decoration: none;
  }
}

.btn-default {
  &:hover, &:focus {
    color: #fff;
    background-color: #08c;
    border-color: #08c;
  }
}

.btn-primary {
  &:hover, &:focus {
    background: #1c5bad;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2488d4", endColorstr="#1c5bad");
    background: -webkit-gradient(linear, left top, left bottom, from(#2488d4), to(#1c5bad));
    background: -moz-linear-gradient(top, #2488d4, #1c5bad);
    background-image: -o-linear-gradient(top, #2488d4 0, #1c5bad 100%);
    background-image: linear-gradient(to bottom, #2488d4 0, #1c5bad 100%);
    -webkit-box-shadow: inset 0 1px 1px 0 #64bef1;
    -moz-box-shadow: inset 0 1px 1px 0 #64bef1;
    box-shadow: inset 0 1px 1px 0 #64bef1;
  }
}

.show-desktop {
  display: block;
}

.hide-desktop {
  display: none;
}

.b__item {
  padding: 30px 20px 20%;
}

.header {
  max-width: 1280px;
  margin: 0 auto;
}

.logo {
  float: left;
  top: 9px;
  left: 0;
  transition: all .1s;
  &:hover {
    color: #fff;
    transform: scale(1.05);
  }
}

.nav {
  display: block;
  float: right;
  margin: 0;
  &:after {
    content: "";
    clear: both;
    display: table;
  }
}

.nav__item {
  color: #fff;
  border: none;
  float: left;
  padding: 10px 5px;
  text-transform: none;
  transition: all, .2s;
  &:hover {
    background: none;
    color: #fff;
    text-decoration: underline;
  }
}

.make-order:hover {
  background: #fff;
  color:#000;
  text-decoration: none;
}

.slider {
  margin: 0 0 30px;
}

.slider__link {
  line-height: 1;
  font-size: 60px;
  &:hover {
    color: #fff;
  }
}
.slider__link:hover .slider__button,
.slider__button:hover {
  background: #fff;
  color: #000;
}

.slider__button:hover {
  text-decoration: underline;
}

.box {
  float: left;
  width: 50%;
}

.box__link,
.footer__make-order {
  transition: all .2s;
  &:hover {
    color: #fff;
    background: #000;
  }
}

.f {
  margin: 40px 0 60px;
}

.b {
  margin: 60px 0;
}

.slider__pagination__line {
  height: 40px;
}

.slider__pagination__item:hover {
  color: #fff;
  .slider__pagination__number {
    font-size: 24px;
  }
  .slider__pagination__line {
    height: 60px;
  }
}

.slider__pagination__item {
  padding: 0 30px;
  &.is-active {
    .slider__pagination__number {
      font-size: 30px;
    }
    .slider__pagination__line {
      height: 80px;
    }
  }
}

.slider__prev,
.slider__next {
  position: absolute;
  top: 50%;
  background: none;
  border: none;
  margin-top: -27px;
  transition: all .2s;
  opacity: .7;
  display: block;
  &:hover {
    opacity: 1;
  }
}

.slider__prev {
  left: 20px;
}

.slider__next {
  right: 20px;
}

.footer {
  text-align: left;
  padding: 30px 15px 15px;
}

.footer__title {
  font-size: 14px;
}

.footer__link {
  display: block;
  margin: 0 0 15px;
}

.footer__link:hover,
.footer__number:hover,
.footer__mail-link:hover {
  color: #000;
}

.footer__tel {
  padding: 0 0 0 50px;
  position: relative;
}

.footer__tel-icon {
  position: absolute;
  left: 0;
  top: -4px;
  z-index: 1;
}

.social {
  margin: 25px -5px;
  text-align: left;
}

