/*.logo {
  font-size: 30px;
  padding-left: 26px;
}

.logo__icon {
  width: 24px;
  top: 10px;
}*/

.show-tablet {
  display: block;
}

.hide-tablet {
  display: none;
}

.b {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  margin: 0 -7.5px;
}

.b__item {
  padding: 30px 20px 18%;
  position: relative;
  margin: 0 7.5px;
}

.b__img {
  position: absolute;
  left: 0;
  bottom: 0;
}

.slider__item--purple {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#403842+0,151116+100 */
  background: url('/img/remont-odezdu.png') no-repeat 100% 0, radial-gradient(ellipse at center, #403842 0%,#151116 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.slider__item--green {
  background: url('/img/poshuv-odezdu-optom.png') no-repeat 100% 0, radial-gradient(ellipse at center, #24a427 0%,#1e521b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.slider__item--blue {
  background: url('/img/poshuv-zenskoi-odezdu.png') no-repeat 80% 0, radial-gradient(ellipse at center, #444674 0%,#252745 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.slider__item--grey {
  background: url('/img/poshuv-muzskoi-odezdu.png') no-repeat 70% 0, radial-gradient(ellipse at center, #826d61 0%,#372417 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.slider__item {
  background-size: contain;
}

.box {
  float: none;
  width: 100%;
}

.box__wrp {
  text-align: left;
  height: 350px;
  position: relative;
  padding: 40px 240px 40px 20px;
}

.box__title,
.box__link,
.box__description,
.box__description-category {
  position: relative;
  z-index: 2;
}

.box__title {
  font-size: 24px;
  margin: 0 0 25px;
  text-overflow: initial;
  overflow: visible;
  white-space: initial;
  line-height: 26px;
  padding-right: 40px;
}

.box__description,
.box__description-category {
  height: auto;
}

.box__link {
  margin: 0;
  position: absolute;
  bottom: 30px;
  left: 20px;
}

.box__picture {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  margin: 0;
  z-index: 1;
}

.box__img {
  max-height: 100%;
}