extends ../layout
block content
  h1(title='Швейное ателье') Швейное ателье
  p
    | Современный рынок характеризуется большим обилием самой разной одежды. При этом существуют ситуации, когда необходим индивидуальный пошив и&nbsp;
    strong(title='швейное ателье') швейное ателье
    |&nbsp;– лучший выход из ситуации. Например, Вам хочется получить уникальную вещь, которой ни у кого не будет или же индивидуальные параметры не полностью соответствует общепринятым стандартам. Если у вас возникла такая проблема, наш&nbsp;
    b швейный цех
    |&nbsp;готов предоставить качественный&nbsp;
    strong пошив одежды
    |.
  p(title='Надоело покупать то, что не нравится из–за отсутствия выбора? У нас есть решение. Одежда больших размеров любых фасонов и материалов. Больше не нужно соглашаться на лучшее из худшего. Индивидуальный пошив в Оdejda-ua – прекрасное решение для сложившейся проблемы.')
    | Надоело покупать то, что не нравится из–за отсутствия выбора? У нас есть решение.&nbsp;
    em Одежда больших размеров
    |&nbsp;любых фасонов и материалов. Больше не нужно соглашаться на лучшее из худшего. Индивидуальный пошив в Оdejda-ua – прекрасное решение для сложившейся проблемы.
  p
    | Порвалась любимая вещь, и Вы хотите вернуть ей жизнь? Приходите к нам. Наши квалифицированные швеи произведут качественный&nbsp;
    strong(title='ремонт одежды') ремонт одежды
    |&nbsp;в короткие сроки.
  p
    | Также мы выступаем в качестве
    | . Ателье Оdejda-ua оснащено современным оборудованием, которое дает возможность производить такие изделия, как куртки, дубленки и шубы.
  p
    | Наши производственные мощности позволяют не только делать индивидуальный пошив на заказ мелкими партиями, но и обслуживать оптовых покупателей.
  h2(title='Почему сотрудничество с нами особенно выгодно?') Почему сотрудничество с нами особенно выгодно?
  ol
    li
      | Налаженное&nbsp;
      em швейное производство
      |. Мы наладили бесперебойную систему производства, которая способна удовлетворить самые разные потребности. Наши швеи выполнят Ваш заказ качественно и в оговоренные сроки. Если Вам нужны надежные
    li поставщики одежды, мы с радостью готовы помочь Вам.
    li
      | Профессиональные кадры. Мы тщательно подбираем персонал, именно поэтому у нас работают исключительно высококвалифицированные кадры. Это позволяет держать производимые товары на должном уровне и оставаться надежными партнерами.
    li
      | Разноплановое оборудование. Наши производственные мощности позволяют производить самые разные изделия. Мы можем изготавливать на заказ, как&nbsp;
      b трикотажные платья
      |&nbsp;, так и верхнюю одежду. Детская, мужская и&nbsp;
      strong(title='женская одежда') женская одежда
      |&nbsp;оптом – все это можно заказать в нашем ателье. Даже если Вам потребовался пошив корпоративной одежды – у нас есть необходимое оборудование.
    li
      | Соблюдение сроков. Мы ценим Ваше время, поэтому наше швейное ателье делает все возможное, чтобы Ваши заказы были выполнены в оговоренные сроки.
    li
      | Швейное ателье Оdejda-ua находится в городе Харьков, однако доставка товаров производится по всей Украине. Если у Вас возникли вопросы, пожалуйста, свяжитесь с нами.
