extends ../layout
block content
  h1(title='Ремонт одежды – продлите жизнь любимых вещей') Ремонт одежды – продлите жизнь любимых вещей
  p
    | У каждого в гардеробе хранятся наряды, которые, с одной стороны, дороги сердцу, а с другой, уже совершенно не годятся для носки. Причем речь идет не о порванных в клочья вещах, а об одежде с небольшими дефектами. Например, со сломанной молнией или порванной подкладкой.
  p
    | Однако мы считаем, что это даже не дефекты, а небольшие недостатки. Наша&nbsp;
    strong мастерская по ремонту одежды
    |&nbsp;справится с ними всего за несколько часов. Так, ремонт молнии может занять не более часа.
  h2(title='Ателье по ремонту одежды – потому что вещам тоже требуется уход') Ателье по ремонту одежды – потому что вещам тоже требуется уход
  p
    | Чем дольше мы носим одежду, тем больше она изнашивается. Это нормально. И даже дефекты, появляющиеся со временем – также обычное явление.
  p
    | Главное вовремя позаботиться о любимой вещи. И уверяем Вас – для этого никогда не бывает поздно. Независимо от нынешнего состояния вещи, наша&nbsp;
    em служба ремонта одежды
    |&nbsp;справится с любыми дефектами и вернет наряду былую привлекательность.
  h2(title='Ремонт кожаных изделий: качественное восстановление и реставрация одежды') Ремонт кожаных изделий: качественное восстановление и реставрация одежды
  p
    | Кожа – это прочный и долговечный материал. Однако&nbsp;
    i ремонт курток
    |&nbsp;данного типа требует аккуратного обращения, а также понимания особенностей ткани. Мы обладаем достаточным опытом и знаниями, чтобы гарантировать Вам полную реставрацию кожаных изделий. Каким бы ни было начальное состояние изделия, от нас Вы получаете новенькую, привлекательную и стильную вещь.
  h3 Оdejda-ua – ателье по пошиву и ремонту одежды в Харькове
  p
    | Мы специализируемся на индивидуальном пошиве одежды. Поэтому любые ремонтные работы проводятся с той же скрупулезностью, что и создание нового наряда. А многолетний опыт позволяет нам также быть&nbsp;
    b ателье по ремонту шуб
    |.
  p
    | Если Ваша любимая шубка уже не так привлекательна, как прежде, то просто принесите ее нам. Мы осуществляем восстановление, реставрацию и комплексный ремонт одежды. Благодаря чему, Вы сможете забрать шубку из&nbsp;
    strong ателье по ремонту меховых изделий
    |&nbsp;буквально через несколько дней. И обещаем – она станет лучше, чем когда-либо прежде.
  img.pull-left(src="/img/remont-odejdy.jpg", alt="Ремонт одежды", title="Ремонт одежды в Харькове")
  h3 Качественный ремонт одежды (Харьков)
  p
    | У нас работают мастера с многолетним опытом в сфере шитья. Они обладают большим стажем, а также массой знаний о свойствах тканей, особенностях различных элементов, фасонов и типов одежды. Их опыт и использование наиболее качественных материалов позволяют нам производить&nbsp;
    strong ремонт одежды
    |&nbsp;даже в самых сложных случаях.
  p
    | Поэтому не спешите выбрасывать старую курточку или шубу. Возможно повреждение – это лишь повод сделать ее еще лучше.
